<!DOCTYPE html>

<html>
    <head>  
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>page not found</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{msg}}</p>
        </div>
        {{>footer}}
    </body>
</html>